.el-header,
.el-footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
.el-header {
  padding-left: 30%;
  line-height: 60px;
}
.el-footer {
  padding-top: 2%;
  height: 150px !important;
  line-height: 30px;
  font-size: smaller;
}
.el-main .item {
  position: relative;
  height: calc(60vh);
  padding-top: 10px;
}
.stickyTop {
  z-index: 10;
  position: absolute;
  width: 100%;
}
.el-input >>> input{
  height: 30px!important;
}
.el-main,
.el-footer {
  position: relative;
}

#item2 {
  padding-top: 70px;
}
.el-menu.el-menu--horizontal {
  border-bottom: 0px !important;
}
.el-card {
  height: calc(59vh);
}
.quotes {
  margin-top: 10px;
  text-indent: 30px;
  font-family: cursive;
  font-style: initial;
  font-weight: bolder;
}
img {
  height: 100%;
  width: 100%;
}
.card-title{
  height: 40px;
  border-bottom: 1px solid #cccccc;
  font-size: smaller;
  letter-spacing: 1px;
  line-height: 40px;
}
.card-content{
  height: calc(50vh);
  display: block;
  overflow: auto;
  /*滚动不会传递给父级*/
  overscroll-behavior: contain;
  -ms-scroll-chaining: contain;
}
/* 设置滚动条样式 */
.card-content::-webkit-scrollbar {
  width: 5px;
}
.card-content::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 20px;
}
.card-item{
  height: 100px;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0px;
}
.card-item h4,.card-item p{
    height: 32px;
    line-height: 32px;
    color: black;
}
.card-item p{
    font-size: smaller;
    color: #999999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card-item p span{
    color: #6b6b6b;
    margin-left: 5px;
}
.card-item p span:nth-child(2){
    margin-left: 50px;
}

.about{
    top: 20%;
    left: 25%;
    position: absolute;
    width: 50%;
    text-align: center;
}
.about p{
    line-height: 55px;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}
a{
  text-decoration: none;
}